*.tr
swe_frak.freq-dawg
swe_frak.inttemp
swe_frak.normproto
swe_frak.number-dawg
swe_frak.pffmtable
swe_frak.punc-dawg
swe_frak.unicharset
swe_frak.word-dawg
*.txt
Microfeat
unicharset
*~
shapetable
swe_frak.shapetable
unicharset.edited
