*.tr
deu-frak.freq-dawg
deu-frak.inttemp
deu-frak.normproto
deu-frak.number-dawg
deu-frak.pffmtable
deu-frak.punc-dawg
deu-frak.unicharset
deu-frak.word-dawg
*.txt
Microfeat
unicharset
*~
shapetable
deu-frak.shapetable
unicharset.edited
